/* PRODUCT GALLERY PAGE ////////////////////////////////////////////////////////////////////////////*/
/* Cinnamon roll images div box*/
.photobox {
    width: 400px;
    height:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Cinnamon roll description */
.photobox p {
    line-height: 5px;
}

/* Cinnamon roll hover highlight */
 .photobox:hover {
    background-color: yellow;
    padding: 10px;
 }

 .photobox:hover .product-name-4 {
    font-weight:bold;
 }


/* Cinnamon roll images */
.roll {
    width: 400px;
    height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Logo image */
#logo {
    width: 400px;
    height:400px;  
}



.hover-product-cart {
    width: 80px;
    height: 100px;
    font-weight:bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;

}



.hover-product-cart p:hover {
    background-color: yellow; 
}


.hover-product-cart p {
    text-align: center;
}


section {
    text-align: center;
}


/* Image border */
#roll-detail-page {
    border: 2px solid black;
  }


  .shoppingroll {
    border: 2px solid black; 
  }


  .roll {
    border: 2px solid black;
  }
/* PRODUCTS DETAIL PAGE ////////////////////////////////////////////////////////////////*/

.product-detail-top h1 {
    text-align: center;
}

.detailphotobox {
    width: 600px;
    height:630px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.customizeline {
    width: 180px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}


#roll-detail-page {
    width: 600px;
    height:600px;
}


/* Drop down menu section */

.glazing-menu {
    width: 180px;
    height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* Drop down menu bar */
.glazing-menu select {
    width: 180px; 
  }


.pack-size-menu select {
    width: 180px; 
  }

  /* /////////////////// */

  
#glaze-text {
    text-align: left; 
}

.pack-size-menu {
    width: 180px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#glaze-text {
    text-align: left; 
}

/* Add to cart section */


.cart-section {
    width: 600px;
    height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.cart-section p, button {
    display: inline-block;
    margin: 12px;
}


.cart-section button {
    background-color: yellow;
    padding: 8px 15px;
}

/* SHOPPING CART PAGE //////////////////////////////////////////////////////*/

.shoppinglogopart h1{
 text-align: center;
 
}

.product-cart {
text-align: center;
margin-bottom: 50px
}

.roll-price {
    margin-top: 35px;
    text-align: center;

}

.num-price {
    font-size: 18px;
}


#shop-cart-text {
    font-size: 30px;
    text-align: center;
}

/* HR Lines */
#hr-1 {
    border-top: 2px solid black;

}

#hr-2 {
    border-top: 3px solid black;

}

#hr-3 {
    border-top: 3px solid black;
    width: 70%;
}




.removebutton {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 30px
   }



.shoppingphotobox {
    width: 200px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.shoppingroll {
    width: 200px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.shoppingphotobox p {
    line-height: 2px;
    text-align: center;
    font-size: 14px;
}

/* Price */
.shoppingphotobox h3 {
    text-align: center;
    font-size: 16px;
}

.checkout {
    text-align: center;

}


.checkout button {
    position: relative;
    background-color: yellow;
    padding: 10px 15px;
}